!.gitignore
secrets.yaml
known_devices.yaml
.*

# folders
custom_components
deps
faces
glances
icloud
node-red
themes
www/community
tts

# files
*.pickle
*.conf
*.xml
*.sqlite
home-assistant*.*
customize.yaml
OZW_Log.txt
zwave_device_config.yaml
frigate/config.yaml
